

@{
    ViewData["Title"] = "Feedback List";
}
<div class="admin-margin">
    <h2>Feedback List</h2>

    <table id="tblData" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>User Name</th>
                <th>Product Name</th>
                <th>Stars</th>
                <th>Content</th>
            </tr>
        </thead>
    </table>    
</div>
<p>
    <a asp-action="Index" class="btn btn-secondary">Back to Dashboard</a>
</p>

@section Scripts{
    <script src="~/js/Admin/Feedback.js"></script>
}