@model User
@{
    ViewData["Title"] = "Information";
}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="card border-0 shadow-lg rounded-3">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <!-- Sidebar -->
                        <div class="col-lg-3 border-end">
                            <div class="p-4">
                                <div class="nav flex-column nav-pills">
                                    <a class="nav-link active text-white" asp-action="Profile" style="background-color: #FEA116!important;">
                                        <i class="fa fa-user me-2"></i> Information
                                    </a>
                                    <a class="nav-link text-black" asp-action="ChangePassword"><i class="fa fa-lock me-2"></i> Security</a>
                                    <a class="nav-link text-black" asp-action="OrderHistory"><i class="fa fa-truck-fast me-2"></i> Order History</a>
                                </div>
                            </div>
                        </div>

                        <!-- Content Area -->
                        <div class="col-lg-9">
                            <div class="p-4">
                                <form asp-action="Profile" method="post">
                                    <div class="mb-4">
                                        <h5 class="mb-4">Personal Information</h5>
                                        <div class="row g-3">
                                            <input class="form-control border-0 border-bottom rounded-0" asp-for="Id" value="@Model.Id" type="password" hidden>
                                            <input class="form-control border-0 border-bottom rounded-0" asp-for="PasswordHash" value="@Model.PasswordHash" type="password" hidden>

                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control border-0 border-bottom rounded-0" asp-for="UserName" type="text" placeholder="No information provided">
                                                    <label asp-for="UserName">Full Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control border-0 border-bottom rounded-0" asp-for="Email" placeholder="Email" readonly>
                                                    <label asp-for="Email">Email</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="date" class="form-control border-0 border-bottom rounded-0" asp-for="DOB" placeholder="Date of birth">
                                                    <label asp-for="DOB">Date of birth</label>
                                                </div>
                                                <span asp-validation-for="DOB" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <select class="form-select border-0 border-bottom rounded-0" asp-for="Gender">
                                                        <option value="">Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                    <label asp-for="Gender">Gender</label>
                                                </div>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input type="tel" class="form-control border-0 border-bottom rounded-0" asp-for="PhoneNumber" placeholder="Phone Number">
                                                    <label asp-for="PhoneNumber">Phone number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control border-0 border-bottom rounded-0" asp-for="Address" placeholder="Address">
                                                    <label asp-for="Address">Address</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Save Button -->
                                    <div class="d-flex justify-content-end mb-4 me-4">
                                        <button type="submit" class="btn btn-primary px-4">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- End Content Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
